body {
    margin: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#main {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.info-popup {
    position: absolute;
    background-color: #fff;
}

.info-top {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    background-color: #263238;
    text-align: center;
}

.info-popup h3 {
    color: #ffffff;
    margin: 0;
}

.info-header {
    padding-top: 15px;
}

.info-list {
    display: grid;
    grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr);
    grid-gap: 10px;
    padding: 20px 20px;
    background-color: #263238;
}

.info-list p {
    background-color: #ffffff;
    padding: 10px;
}

.info-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 13px 10px;
}

.info-list p {
    margin: 0;
    border-radius: 3px;
}

.label, .label-text, .edge, .edge-dash, .node-cirlce, .node-rect, .node-image, .node-text, .info-close {
    cursor: pointer;
}

.label {
    rx: 3;
    ry: 3;
    fill: #ffffff;
    stroke-width: 2;
}

.label-text {
    text-anchor: middle;
    alignment-baseline: middle;
    font-size: 20px;
    font-weight: 800;
}

.edge, .edge-dash {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.node-circle, .node-rect {
    fill: #ffffff;
}

.node-rect {
    rx: 15;
    ry: 15;
}

.node-image {
    r: 25;
}

.node-text {
    fill: #b0b0b0;
    text-anchor: middle;
    alignment-baseline: hanging;
}
