---
layout: default
---

<div class="home">
    {% if site.theme_settings.header_text %}
    <div class="call-out"
         style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
        {{ site.theme_settings.header_text }}
    </div>
    {% endif %}

    <div>
        <div id="tree" style="width: 48vw; height: 500px; float: left;"></div>
        <div id="network" style="width: 48vw; height: 500px; float: right;"></div>
    </div>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/system.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css">
    <script src="{{ site.baseurl }}/assets/js/voog.js"></script>
    <script>
        document.getElementById('tree').addEventListener('mousewheel', function (e) {
            e.preventDefault();
        });
        document.getElementById('network').addEventListener('mousewheel', function (e) {
            e.preventDefault();
        });
    </script>
    <script src="{{ site.baseurl }}/assets/js/tree.js"></script>
    <script src="{{ site.baseurl }}/assets/js/network.js"></script>

    <div class="posts">
        {% for post in paginator.posts %}
        <div class="post-teaser">
            <header>
                <h1>
                    <a class="post-link" href="{{ post.url | relative_url }}">
                        {{ post.title }}
                    </a>
                    <img src="{{ post.feature-img }}">
                </h1>
                <p class="meta">
                    {{ post.date | date: "%B %-d, %Y" }}
                </p>
            </header>
            <div class="excerpt">
                {{ post.excerpt }}
                <a class="button" href="{{ post.url | relative_url }}">
                    {{ site.theme_settings.str_continue_reading }}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    {% if paginator.total_pages > 1 %}
    <div class="pagination">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url | replace: '//', '/' }}" class="button">
            <i class="fa fa-chevron-left"></i>
            {{ site.theme_settings.str_previous_page }}
        </a>
        {% endif %}
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url | replace: '//', '/' }}" class="button">
            {{ site.theme_settings.str_next_page }}
            <i class="fa fa-chevron-right"></i>
        </a>
        {% endif %}
    </div>
    {% endif %}
</div>
